<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
            padding: 5px;
        }

        td {
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<a href="/admin/addUser">
    <input type="submit" value="Добавить пользователя">
</a>
<form th:action="@{/logout}" th:method="GET" >
    <button type="submit">Logout</button>
</form>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Email</th>
            <th>Действие</th>
        </tr>
        <tr th:each="user : ${users}">
            <td><a th:href="@{/admin/user(id=${user.id})}" th:text="${user.id}">ID</a></td>v
            <td th:text="${user.getUsername()}">Username</td>
            <td th:text="${user.getPassword()}">Password</td>
            <td th:text="${user.getRoles()}">Roles</td>
            <td th:text="${user.getFirstName()}">FirstName</td>
            <td th:text="${user.getLastName()}">LastName</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>

            <td th:align=center>
                <form th:action="@{/admin/delete_user}" th:method="delete">
                    <input type="hidden" name="id" th:value="${user.getId()}"/>
                    <button type="submit">Удалить</button>
                </form>
            </td>
            <td th:align=center>
                <form th:action="@{/admin/update(id=${user.id})}" th:method="get">
                    <input type="hidden" name="id" th:value="${user.getId()}"/>
                    <button type="submit">Изменить</button>
                </form>
            </td>

        </tr>
    </table>
</div>
</body>
</html>