<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h3>Пользователь# <span th:text="${user.id}"/></h3>

<table border="1">
    <br/>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>Roles</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <br/>

    <tr>
        <td th:text="${user.getId}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
    </tr>

</table>

<br>
<form th:action="@{/logout}" th:method="GET" >
    <button type="submit">Logout</button>
</form>
</body>
</html>